<div ng-controller="gadgetctrl">

<div class="col-xs-3">
    <a href="/" class="btn btn-block btn-default btn-lg">Home</a>
    <a class="btn btn-block btn-default btn-lg" ng-repeat="cata in data.categories | orderBy:'CategoryId'" ng-click="selectedcate(cata.CategoryId)">{{cata.Name}}</a>
</div>

<div class="col-xs-9">
    <div class="panel panel-default" ng-repeat="gadget in data.gadgets | filter :  searchText">
        <div class="panel-heading">
            <strong>{{gadget.Name}}</strong>
            <span class="label label-primary pull-right">{{gadget.Price | currency}}</span>    
        </div>
        <div class="panel-body">
            <div class="media">
                <a class="pull-left">
                    <img class="media-object" ng-src="../../images/{{gadget.Image}}"/>
                </a>
                <div class="media-body">
                    <span class="lead">{{gadget.Description}}</span>
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <a class="btn btn-success" ng-click="addProductToCart(gadget)">Add to cart</a>
        </div>
    </div>
    <ul uib-pagination total-items="totalItems" data-ng-model="pagination.currentPage" max-size="numberOfPageButtons" class="pagination-sm" boundary-link-numbers="true" rotate="false" ng-change="pageChanged()" data-items-per-page="recordsPerPage"></ul>
</div>
    
    </div>
